/* Universal Styles */

body {
  font-family: "Helvetica", serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: 0;
}

/* Header Section*/

header {
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  width: 100%;
  background-color: black;
  z-index: 1;
}

/*Content Section*/

.content {
  padding-top: 69px;
}

/*Main Content Section*/

.mission {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  height: 700px;
  justify-content: center;
  align-items: center;
  background-image: url(../images/img-mission-background.jpg);
  background-size: cover;
}

.banner {
  width: 100%;
  background-color: black;
}

h2 {
  margin: 10px;
  text-align: center;
}

h4 {
  text-align: center;
  margin: 10px;
}

/*Tea of the Month Section*/

.month {
  border: 1px solid red;
  height: 1000px;
  width: 1000px;
  margin: 0 auto;

}

/*Locations Section*/

.locations {
  border: 1px solid seashell;
  height: 500px;
  width: 1200px;
  margin: 0 auto;
}

/*Footer Section*/

footer {
  border: 1px solid red;
  height: 200px;
  width: 1200px;
  margin: 0 auto;
}

/*Copyright Section*/

.copyright {
  padding-left: 20px;
}
